
html {
	height:100%;
	margin:0;
}

body {
	margin:0;
	height:100%;
	font-family: 'JetBrains Mono';
	font-weight: 300;
	letter-spacing: 1px;
	overflow: hidden;
	background: #59a29c;
}

.hide {
	visibility: hidden;
}

/* /////////////// TITLE //////////////// */

#title {
	position: absolute;
	top:25px;
	left:25px;
	height:50px;
}
#title a {
	display:inline-block;
	padding:0 25px;
	line-height: 50px;
	vertical-align: middle;
	height:100%;
	cursor: pointer;
	margin:0;
	font-size:18px;
	text-decoration: none;
}
.light-title#title {border:rgba(255,255,255,0.2) 1px solid;}
.dark-title#title {border:rgba(50,50,50,0.2) 1px solid;}

.light-title#title:hover {background:rgba(255,255,255,0.05);}
.dark-title#title:hover {background:rgba(50,50,50,0.05);}

.light-title#title a {color: rgb(255,255,255);}
.dark-title#title a {color: rgb(50,50,50);}


/* /////////////// SIDEBAR //////////////// */

#burger {
	position: absolute;
	width:40px;
	height:26px;
	top:33px;
	right:33px;
	cursor:pointer;
	pointer-events: auto;
}

.burger-line {
	position: absolute;
	width:100%;
	transform:translate(-20px, -13px);
	margin-left:20px;
	margin-top:13px;
}
.light-sidebar .burger-line {border-top:rgb(255,255,255,1) 2px solid;}
.dark-sidebar .burger-line {border-top:rgb(50,50,50,1) 2px solid;}

#burger-line1 {top:0;}
#burger-line2 {top:calc(50% - 1px);}
#burger-line3 {top:calc(100% - 2px);}

#sidebar {
	width:250px;
	height:100%;
	right:0;
	position: absolute;
	pointer-events: none;
}
#sidebar-content {
	width:100%;
	height:100%;
	opacity: 0;
	box-shadow: 0px 0px 80px 20px rgba(22,27,37,0.25);
	display:none;
	pointer-events: auto;
}
.sidebar-open #sidebar-content {
	display: block;
}

#sidebar-inner {
	display:flex;
	flex-direction: column;
	justify-content: start;
	top: 120px;
	position: absolute;
	width:100%;
}

.sidebar-btn {
	height:50px;
	width:180px;
	margin: 10px auto;
	cursor:pointer;
}
.light-sidebar .sidebar-btn {
	border:rgb(255,255,255,0.2) 1px solid;
}
.dark-sidebar .sidebar-btn {
	border:rgb(50,50,50,0.2) 1px solid;
}

.light-sidebar .sidebar-btn:hover {background:rgba(255,255,255,0.05);}
.dark-sidebar .sidebar-btn:hover {background:rgba(50,50,50,0.05);}

.sidebar-btn p {
	margin:0;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
}

.light-sidebar .sidebar-btn p {
	color: rgb(255,255,255);
}
.dark-sidebar .sidebar-btn p {
	color: rgb(50,50,50);
}

#bottom-row {
	position: absolute;
	bottom:50px;
	height:50px;
	width:180px;
	margin: 0;
	left: 50%;
	transform: translateX(-50%);
	display:flex;
	justify-content: center;
}

#bottom-row a {
	margin:10px;
	text-decoration: none;
}

#bottom-row a {
	margin:10px;
	text-decoration: none;
}

.socialimg {
	width: 30px;
	height: 30px;
	opacity:0.8;
}
.socialimg:hover {
	opacity:1;
}

/* because of optical illusion linkedin svg looks slightly smaller */
.linkedinimg {
	width: 31px; 
	height: 31px;
}

.light-sidebar .linkedindark {display: none;}
.dark-sidebar .linkedinlight {display: none;}
.light-sidebar .linkedinlight {display: inline-block;}
.dark-sidebar .linkedindark {display: inline-block;}

.light-sidebar .githubdark {display: none;}
.dark-sidebar .githublight {display: none;}
.light-sidebar .githublight {display: inline-block;}
.dark-sidebar .githubdark {display: inline-block;}

/* slider box */

#hexrgb-switch {
	opacity:1;
	transition: opacity 300ms;
	pointer-events: auto;
}
.switch {
	position: absolute;
	display: inline-block;
	right: 108px;
	top: 25px;
	width: 105px;
	height:40px;
	border-radius:40px;
}
.light-sidebar .switch {
	border: rgb(255,255,255,0.2) 1px solid;
	background: rgba(255,255,255,0.05);
}
.dark-sidebar .switch {
	border: rgb(50,50,50,0.2) 1px solid;
	background: rgba(50,50,50,0.05);
}

.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


.sliderbox {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 10px;
	top: 10px;
	border-radius:20px;
}
.light-sidebar .sliderbox {
	background: rgba(255,255,255,0.8);
}
.dark-sidebar .sliderbox {
	background: rgba(50,50,50,0.8);
}

.on, .off {
	position: absolute;
	transform: translate(0,-50%);
	top: 19px;
	transition: opacity 0.4s;
}
.light-sidebar .on, .light-sidebar .off {
	color: white;
}
.dark-sidebar .on, .dark-sidebar .off {
	color: rgb(50,50,50);

}

.on {
	text-align:right;
	right:16px;
	font-size: 18px;
}
.off {
	text-align:left;
	left:19px;
	font-size: 17px;
}

.rgb .on {opacity:0;}
.rgb .off {opacity:1;}
.hex .on {opacity:1;}
.hex .off {opacity:0;}


/* /////////////// SEC-CONTENT //////////////// */


#sec-content {
	width:calc(100% - 250px);
	height:100%;
	opacity: 0;
	display: none;
	position:absolute;
	z-index: 1;
	pointer-events: none;
}
.show-sec #sec-content {
	display: block;
}

#sub-content-box {
	pointer-events: auto;
	width:70%;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.light-mode #sub-content-box {
	box-shadow: 0px 0px 80px 20px rgba(22,27,37,0.25);
	border: rgb(255,255,255,0.1) 1px solid;
}
.dark-mode #sub-content-box {
	box-shadow: 0px 0px 80px 20px rgba(40, 55, 86, 0.25);
	border: rgb(50,50,50,0.3) 1px solid;
}

.sub-content-inner {
	display: block;
	padding: 10%;
	max-height: 50vh;
	overflow: auto;
}

#showcss-content {display:none;}
#gradient-content {display:none;}
#info-content {display:none;}

.light-mode #sub-content-box p, .light-mode #sub-content-box h2 {color: rgb(255,255,255);}
.dark-mode #sub-content-box p, .dark-mode #sub-content-box h2 {color: rgb(50,50,50);}

#sub-content-box h2 {
	margin:0;
}
#sub-content-box .desc {
	opacity:0.7;
	letter-spacing:0;
	margin: 40px 0;
}

.seperating-line-container {
	padding: 10px 20%;
}
.light-mode .seperating-line {border-top: rgba(255,255,255,0.3) 1px solid;}
.dark-mode .seperating-line {border-top: rgba(50,50,50,0.3) 1px solid;}


.compatability {
	font-size: 12px;
}

.code-snippet {
	width:100%;
	background: rgba(50,50,50,0.6);
	border:rgb(100,100,100) 1px solid;
	display:flex;
}
.code-css-container {
	flex:1;
	padding: 15px 0;
}
.code-css {
	margin: 0;
	line-height: 30px;
	vertical-align: middle;
	padding-left: 25px;
	overflow-wrap: anywhere;
}

.code-css .l1 {color: rgba(249, 186, 130, 1);}
.code-css .l2 {color: rgba(220, 220, 220, 1);}
.code-css .l3 {color: rgba(224, 181, 237, 1);}
.code-css .l4 {color: rgba(176, 193, 239, 1);}
.code-css .l5 {color: rgba(208, 247, 152, 1);}


/* /////////////// MAIN-CONTENT //////////////// */

#main-content {
	display:block;
}
.show-sec #main-content {
	display:none;
}

#colour-banner {
	bottom:30%;
	height:50%;
	min-width: 280px;
	max-width: 350px;
	width: 25%;
	max-height: 500px;
	position:absolute;
	left:0;
	transform: translateX(-50%);
	margin: 0;
	display:flex;
	justify-content: space-evenly;
	flex-direction: column;
	cursor:grab;
	transition: left 0.5s ease;
}
#colour-banner:active {
	cursor:grabbing;
}
#colour-banner.no-js-class {
	pointer-events: none;
}

.light-mode #colour-banner {
	box-shadow: 0px 0px 80px 20px rgba(22,27,37,0.25);
	border: rgb(255,255,255,0.1) 1px solid;
}
.dark-mode #colour-banner {
	box-shadow: 0px 0px 80px 20px rgba(40, 55, 86, 0.25);
	border: rgb(50,50,50,0.3) 1px solid;
}

.text-box {
	height:40px;
	width:60%;
	left:20%;
	position: relative;
	letter-spacing:0px;
	cursor:default;
}
.hex .text-box {
	width:70%;
	left:15%;
}
.rgb .text-box {
	width:70%;
	left:15%;
}


input {
	font-family: 'JetBrains Mono';
	font-weight: 200;
	font-size: 18px;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	background: none;
	border:none;
	outline:none;
}
.light-mode input {
	color:rgb(255,255,255);
	border-bottom: rgba(255,255,255,0.6) 1px dashed;
}
.dark-mode input {
	color:rgb(50,50,50);
	border-bottom: rgba(50,50,50,0.6) 1px dashed;
}
.light-mode input::placeholder {
	color:rgb(255,255,255);
}
.dark-mode input::placeholder {
	color:rgb(50,50,50);
}
input:focus::placeholder {
	opacity:0.5;
}
.light-mode input[type=text]:focus-visible {
	border-bottom: rgb(255,255,255) 1px dashed;
}
.dark-mode input[type=text]:focus-visible {
	border-bottom: rgb(50,50,50) 1px dashed;
}
.hex .colour-input input {font-size:18px;}
.rgb .colour-input input {font-size:15px;}

.colour-input {
	display:flex;
}
.colour-output {
	display: flex;
}
.light-mode .colour-output {border: rgba(255,255,255,0.6) 1px solid;}
.dark-mode .colour-output {border: rgba(50,50,50,0.6) 1px solid;}
.light-mode .colour-output:hover {background: rgba(255,255,255,0.05);}
.dark-mode .colour-output:hover {background: rgba(50,50,50,0.05);}

.colour-picker {
	position: relative;
	left:27px;
	top:10px;
	width: 25px;
	height:25px;
}

input[type="color"] {
	cursor: pointer;
	-webkit-appearance: none;
	border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
.light-mode input[type="color"]::-webkit-color-swatch {
	border: rgba(255,255,255,0.5) 1px solid;
}
.dark-mode input[type="color"]::-webkit-color-swatch {
	border: rgba(50,50,50,0.5) 1px solid;
}

.light-mode .text-box p {
	color: rgb(255,255,255);
}
.dark-mode .text-box p {
	color: rgb(50,50,50);
}

.percentage-input {
	display:flex;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#colour-result {
	margin:0;
	line-height: 40px;
	margin-top: 1px;
	vertical-align: middle;
	text-align: center;
}
.light-mode #colour-result {color:rgb(255,255,255);}
.dark-mode #colour-result {color:rgb(50,50,50);}

.hex #colour-result {font-size:15px;}
.rgb #colour-result {font-size:13px;}
/* 
@media only screen and (max-width: 1200px) {
  .hex #colour-result {font-size:14px;}
  .rgb #colour-result {font-size:14px;}
}
@media only screen and (max-width: 992px) {
  .hex #colour-result {font-size:13px;}
  .rgb #colour-result {font-size:13px;}
} */

.copy-img-container {
	width:60px;
	position: relative;
}

.copy-clipboard-btn {
	opacity: 0.6;
	width: 60px;
	height: 60px;
	bottom: 0px;
	position: absolute;
}
.copy-clipboard-btn:hover {
	opacity: 1;
	cursor:pointer;
}

.code-copy-img {
	height: 18px;
	right: 21px;
	bottom: 21px;
	position: absolute;
}

.tooltip {
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  height:50px;
  top:-5px;
  position: absolute;
  left: 120%;
  z-index: 2;
}
.tooltip-down .tooltiptext {
  left: 50%;
  top: calc(100% + 10px);
  margin-left: -50px;
}
.light-mode .tooltip .tooltiptext {background-color: rgb(50,50,50);}
.dark-mode .tooltip .tooltiptext {background-color: rgb(255,255,255);}

.tooltip .tooltiptext span {
	margin:0;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	text-align: center;
	width:100%;
	letter-spacing: 0;
	font-size: 12px;
}
.light-mode .tooltip .tooltiptext span {color: rgb(255,255,255);}
.dark-mode .tooltip .tooltiptext span {color: rgb(50,50,50);}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -7px;
	border-width: 7px;
	border-style: solid;
}
.tooltip-down .tooltiptext::after {
	top: calc(100% - 53px);
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
}
.light-mode .tooltip .tooltiptext::after {  border-color: transparent rgb(50,50,50) transparent transparent;
}
.dark-mode .tooltip .tooltiptext::after {  border-color: transparent rgb(255,255,255) transparent transparent;
}
.light-mode .tooltip-down .tooltiptext::after {  border-color: transparent transparent rgb(50,50,50) transparent;
}
.dark-mode .tooltip-down .tooltiptext::after {  border-color: transparent transparent rgb(255,255,255) transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#track {
	position:absolute;
	margin: 0;
	top:85%;
	height:15%;
	width:60%;
	left:20%;
}

.light-mode #track {
	border-top: rgba(255,255,255,0.6) 1px solid;
}
.dark-mode #track {
	border-top: rgba(50,50,50,0.6) 1px solid;
}


#track-diamond {
	position:absolute;
	width:30px;
	height:30px;
	margin-top: -16px;
	margin-left: -15px;
	transform: rotate(45deg);
	cursor:grab;
	transition: left 0.5s ease;
}
#track-diamond:active {
	cursor: grabbing;
}
.moving {
	transition: none !important;
}

.light-mode #track-diamond {
	border: rgba(255,255,255,1) 1px solid;
}
.dark-mode #track-diamond {
	border: rgba(50,50,50,1) 1px solid;
}


.large-tick {
	position:absolute;
	height:20%;
	top:-10%;
}
.light-mode .large-tick {
	border-right: rgba(255,255,255,0.6) 1px solid;
}
.dark-mode .large-tick {
	border-right: rgba(50,50,50,0.6) 1px solid;
}
#track-start {
	left:0;
}
#track-end {
	left:100%;
}

.grab-bars {
	right:10px;
	top:10px;
	position: relative;
	height:10px;
	transform:rotate(-45deg);
	pointer-events: none;
}
.grab-bars-vert-container {
	position:absolute;
	bottom:0;
	width:100%;
	height:30px;
	pointer-events: none;
}
.grab-bars-vert {
	position: absolute;
	margin:2px;
	height: 10px;
	pointer-events: none;
	transform: rotate(0deg);
}
.light-mode .grab-bars, .light-mode .grab-bars-vert {
	border-right:rgba(255,255,255,0.8) 1px solid;
}
.dark-mode .grab-bars, .dark-mode .grab-bars-vert {
	border-right:rgba(50,50,50,0.8) 1px solid;
}

/* COPYRIGHT */

#copyright-content {
	width:100%;
	margin: 0;
	position: absolute;
	bottom: 0;
}

#copyright-content p {
	left: 50%;
	text-align: center;
}
.light-mode #copyright-content p {color:rgba(255,255,255,0.8)}
.dark-mode #copyright-content p {color:rgba(50,50,50,0.8)}
.light-mode #copyright-content .footer-link {color:rgba(255,255,255,0.8)}
.dark-mode #copyright-content .footer-link {color:rgba(50,50,50,0.8)}
.light-mode #copyright-content .footer-link:hover {color:rgb(255,255,255)}
.dark-mode #copyright-content .footer-link:hover {color:rgb(50,50,50)}
#copyright-content .footer-link {text-decoration: none; text-underline-offset: 5px;}
#copyright-content .footer-link:hover {text-decoration: underline 1px dashed;}
#desktop-copyright {
	display: block;
	font-size:12px;
	margin-bottom:20px;
}
#mobile-copyright {
	display: none;
	font-size:10px;
	margin-bottom:20px;
}

@media only screen and (max-width: 700px) {
	h2 {font-size: 20px;}
	p {font-size: 14px;}
	#title a {
		font-size: 16px;
	}
	#colour-banner {
		left: 50% !important;
		bottom: 25%;
		height: calc(70% - 100px);
	}
	#colour-banner.no-js-class {
		left: 0 !important;
	}
	#track {
		display:none;
	}
	#sec-content {
		width: 100%;
	}
	.show-sec #sub-content-box {
		width: 80%;
	}
	.show-sec .sub-content-inner {
		max-height: 60vh;
	}
	#sidebar {
		width:100%;
	}
	#hexrgb-switch {
		right: auto;
		left: 50%;
		top: auto;
		bottom:12%;
		transform: translateX(-50%);
	}
	.sidebar-btn {
		width:60%;
	}
	#bottom-row {
		bottom: 10%;
	}
	.sidebar-open.show-sec #sidebar-inner {
		display: none;
	}
	.sidebar-open.show-sec #bottom-row {
		display: none;
	}
	.sidebar-open #hexrgb-switch {
		/* display: none; */
		opacity:0;
		pointer-events: none;
	}
	.sidebar-btn {
		height: 55px;
		margin: 15px auto;
	}
	.light-sidebar .sidebar-btn {
		border: rgb(255,255,255,0.6) 1px solid;
	}
	.dark-sidebar .sidebar-btn {
		border: rgb(50,50,50,0.6) 1px solid;
	}
	.sidebar-btn p {
		height: 55px;
		line-height: 55px;
		font-size:17px;
	}
	#copyright-content {
		width: 70%;
		left: 15%;
		z-index: 1;
	}
	#desktop-copyright {
		display: none;
	}
	#mobile-copyright {
		display: block;
	}
	.code-css {line-height: 20px;}
}