html {
	height:100%;
	margin:0;
}

body {
	margin:0;
	height:100%;
	font-family: 'JetBrains Mono';
	font-weight: 300;
	letter-spacing: 1px;
	overflow: hidden;
	background: #59a29c;
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
	   -moz-animation: fadein 1s; /* Firefox < 16 */
		-ms-animation: fadein 1s; /* Internet Explorer */
		 -o-animation: fadein 1s; /* Opera < 12.1 */
			animation: fadein 1s;
}

p {
	font-size: 13px;
	line-height: 20px;
}

#toby-pic {
	width: 100px;
	margin-right: 15px;
	margin-bottom: 10px;
	float: left;
	border: rgba(255,255,255,0.5) 1px solid;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.hide {
	visibility: hidden;
}

/* /////////////// TITLE //////////////// */

#title {
	position: absolute;
	/* top:25px;
	left:25px; */
	top:25px;
	left:33px;
	height:50px;
}
#title a {
	display:inline-block;
	padding:0 25px;
	line-height: 50px;
	vertical-align: middle;
	height:100%;
	cursor: pointer;
	margin:0;
	font-size:18px;
	text-decoration: none;
}
.light-title #title {border:rgba(255,255,255,0.2) 1px solid;}
.dark-title #title {border:rgba(50,50,50,0.2) 1px solid;}

.light-title #title:hover {background:rgba(255,255,255,0.05);}
.dark-title #title:hover {background:rgba(50,50,50,0.05);}

.light-title #title a {color: rgb(255,255,255);}
.dark-title #title a {color: rgb(50,50,50);}

.show-sec #title {
	display: none;
}

/* /////////////// SIDEBAR //////////////// */

#burger {
	position: absolute;
	width:40px;
	height:26px;
	top:33px;
	right:33px;
	cursor:pointer;
	pointer-events: auto;
	z-index: 2;
}

.burger-line {
	position: absolute;
	width:100%;
	transform:translate(-20px, -13px);
	margin-left:20px;
	margin-top:13px;
}
.light-sidebar .burger-line {border-top:rgb(255,255,255,1) 2px solid;}
.dark-sidebar .burger-line {border-top:rgb(50,50,50,1) 2px solid;}

#burger-line1 {top:0;}
#burger-line2 {top:calc(50% - 1px);}
#burger-line3 {top:calc(100% - 2px);}

#sidebar {
	width:250px;
	height:100%;
	right:0;
	position: absolute;
	pointer-events: none;
}
#sidebar-content {
	width:100%;
	height:100%;
	opacity: 0;
	box-shadow: 0px 0px 80px 20px rgba(22,27,37,0.25);
	display:none;
	pointer-events: auto;
}
.sidebar-open #sidebar-content {
	display: block;
}

#sidebar-inner {
	display:flex;
	flex-direction: column;
	justify-content: start;
	top: 120px;
	position: absolute;
	width:100%;
	opacity: 1;
	transition: opacity 300ms;
	padding-left: 0;
}

.sidebar-btn {
	height:50px;
	width:180px;
	margin: 10px auto;
	cursor:pointer;
	position: relative;
	list-style: none;
}
.light-sidebar .sidebar-btn {
	border:rgb(255,255,255,0.2) 1px solid;
}
.dark-sidebar .sidebar-btn {
	border:rgb(50,50,50,0.2) 1px solid;
}

.light-sidebar .sidebar-btn:hover {background:rgba(255,255,255,0.05);}
.dark-sidebar .sidebar-btn:hover {background:rgba(50,50,50,0.05);}

.light-sidebar .sec-active.sidebar-btn {background:rgba(255,255,255,0.1);}
.dark-sidebar .sec-active.sidebar-btn {background:rgba(50,50,50,0.1);}

.sidebar-btn p {
	font-size:16px;
	margin:0;
	height: 100%;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
}

.light-sidebar .sidebar-btn p {
	color: rgb(255,255,255);
}
.dark-sidebar .sidebar-btn p {
	color: rgb(50,50,50);
}

#donate-btn.sidebar-btn img {
	opacity: 0.7;
	position: absolute;
	height: 70%;
	top: 15%;
}

#donate-btn.sidebar-btn #coffee-btn-left-cup {
	transform: rotate(355deg);
	left: 8%;
}

#donate-btn.sidebar-btn #coffee-btn-right-cup {
	transform: rotate(5deg);
	right: 8%;
}

#bottom-row {
	position: absolute;
	bottom:25px;
	height:50px;
	width:180px;
	margin: 0;
	left: 50%;
	transform: translateX(-50%);
	display:flex;
	justify-content: center;
}

#bottom-row a {
	margin:10px;
	text-decoration: none;
}

#bottom-row a {
	margin:10px;
	text-decoration: none;
}

.socialimg {
	width: 30px;
	height: 30px;
	opacity:0.8;
}
.socialimg:hover {
	opacity:1;
}

/* because of optical illusion linkedin svg looks slightly smaller */
.linkedinimg {
	width: 31px; 
	height: 31px;
}

#share-btn:hover {
	cursor: pointer;
}

.light-sidebar .linkedindark {display: none;}
.dark-sidebar .linkedinlight {display: none;}
.light-sidebar .linkedinlight {display: inline-block;}
.dark-sidebar .linkedindark {display: inline-block;}

.light-sidebar .githubdark {display: none;}
.dark-sidebar .githublight {display: none;}
.light-sidebar .githublight {display: inline-block;}
.dark-sidebar .githubdark {display: inline-block;}

.light-sidebar .sharedark {display: none;}
.dark-sidebar .sharelight {display: none;}
.light-sidebar .sharelight {display: inline-block;}
.dark-sidebar .sharedark {display: inline-block;}

/* slider box */

#hexrgb-switch {
	opacity:1;
	transition: opacity 300ms;
	pointer-events: auto;
}
.switch {
	position: absolute;
	display: inline-block;
	right: 108px;
	top: 25px;
	width: 105px;
	height:40px;
	border-radius:40px;
}
.light-sidebar .switch {
	border: rgb(255,255,255,0.2) 1px solid;
	background: rgba(255,255,255,0.05);
}
.dark-sidebar .switch {
	border: rgb(50,50,50,0.2) 1px solid;
	background: rgba(50,50,50,0.05);
}

.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


.sliderbox {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 10px;
	top: 10px;
	border-radius:20px;
}
.light-sidebar .sliderbox {
	background: rgba(255,255,255,0.8);
}
.dark-sidebar .sliderbox {
	background: rgba(50,50,50,0.8);
}

.on, .off {
	position: absolute;
	transform: translate(0,-50%);
	top: 19px;
	transition: opacity 0.4s;
}
.light-sidebar .on, .light-sidebar .off {
	color: white;
}
.dark-sidebar .on, .dark-sidebar .off {
	color: rgb(50,50,50);

}

.on {
	text-align:right;
	right:16px;
	font-size: 18px;
}
.off {
	text-align:left;
	left:19px;
	font-size: 17px;
}

.rgb .on {opacity:0;}
.rgb .off {opacity:1;}
.hex .on {opacity:1;}
.hex .off {opacity:0;}


/* /////////////// SEC-CONTENT //////////////// */


#sec-content {
	width:calc(100% - 250px);
	height:100%;
	opacity: 0;
	display: none;
	position:absolute;
	z-index: 2;
	overflow: auto;
}
.show-sec #sec-content {
	display: block;
}

#sec-scroll-page {
	position: absolute;
	padding: 10%;
	pointer-events: none;
}

#sub-content-box {
	pointer-events: auto;
}

.light-mode #sub-content-box {
	box-shadow: 0px 0px 80px 20px rgba(22,27,37,0.25);
	/* border: rgb(255,255,255,0.4) 2px solid; */
}
.dark-mode #sub-content-box {
	box-shadow: 0px 0px 80px 20px rgba(40, 55, 86, 0.25);
	/* border: rgb(50,50,50,0.5) 2px solid; */
}

.sub-content-inner {
	padding: 10%;
}

.light-mode #sub-content-box p, .light-mode #sub-content-box #donate-button.body-btn p,.light-mode #sub-content-box h2, .light-mode #sub-content-box h3, .light-mode #sub-content-box a {color: rgb(255,255,255);}
.dark-mode #sub-content-box p, .dark-mode #sub-content-box #donate-button.body-btn p, .dark-mode #sub-content-box h2, .dark-mode #sub-content-box h3, .dark-mode #sub-content-box a {color: rgb(50,50,50);}

#sub-content-box h2 {
	margin:0;
}
#sub-content-box .desc {
	opacity:0.7;
	letter-spacing:0;
	margin: 15px 0;
	text-align: justify;
}

.seperating-line-container {
	padding: 10px 20%;
}
.light-mode .seperating-line {border-top: rgba(255,255,255,0.3) 1px solid;}
.dark-mode .seperating-line {border-top: rgba(50,50,50,0.3) 1px solid;}

.body-btn {
	/* height: 40px; */
	/* height: 50px; */
	/* width: 180px; */
	margin: 20px auto 0 auto;
	cursor: pointer;
	/* border: white 1px solid; */
	/* width: fit-content; */
	transform: rotate(180deg);
	border-radius:4px;
	box-shadow: 0px 4px 5.5px 0px rgb(0 0 0 / 7%);
}
/* .light-mode .body-btn {border: white 1px solid;}
.dark-mode .body-btn {border: rgb(50,50,50) 1px solid;} */

.body-btn.not-active {border-color:transparent;}
.dark-mode .body-btn.not-active {background:rgba(50,50,50,0.2) !important;}
.light-mode .body-btn.not-active {background:rgba(255,255,255,0.2) !important;}

.body-btn p, .body-btn button {
	margin:0;
	/* height:100%; */
	/* line-height: 50px; */
	/* padding: 0 20px; */
	padding: 12px 16px;
	transform: rotate(180deg);
	text-align: center;
	border-radius:4px;
}
.body-btn button {
	font-family: "JetBrains Mono";
}
.light-mode .body-btn p, .light-mode .body-btn button {background: rgba(50,50,50,0.1);}
.dark-mode .body-btn p, .dark-mode .body-btn button {background: rgba(255,255,255,0.1);}

.compatability {
	font-size: 12px;
}

.code-snippet {
	width:100%;
	background: rgba(50,50,50,0.6);
	border:rgb(100,100,100) 1px solid;
	display:flex;
}
.code-css-container {
	flex:1;
	padding: 15px 0;
}
.code-css {
	margin: 0;
	line-height: 30px;
	vertical-align: middle;
	padding-left: 25px;
	overflow-wrap: anywhere;
}

.code-css .l1 {color: rgba(249, 186, 130, 1);}
.code-css .l2 {color: rgba(220, 220, 220, 1);}
.code-css .l3 {color: rgba(224, 181, 237, 1);}
.code-css .l4 {color: rgba(176, 193, 239, 1);}
.code-css .l5 {color: rgba(208, 247, 152, 1);}


.cookies-table-container {
	margin-top:40px;
}

.cookie-table {
	border-collapse: separate;
	border-spacing: 1px;
	margin: 0;
	font-size: 11px;
	border-radius: 7px;
	color: white;
}
#sub-content-box .cookie-table a {
	color:white;
}

.cookie-table th {
	background: rgba(50,50,50,0.8);
	font-size: 12px;
	font-weight: bold;
	margin-right: 10px;
	padding: 14px;
	text-align:center
}

.cookie-table td {
	background: rgba(50,50,50,0.6);
	padding: 12px;
	text-align: center;
	vertical-align:middle
}
.cookie-table td.cookie-table-desc {
	text-align: justify;
}

.cookie-table thead tr th:first-child {border-top-left-radius: 7px;}
.cookie-table thead tr th:last-child {border-top-right-radius: 7px;}
.cookie-table tr:last-child td:first-child {border-bottom-left-radius: 7px;}
.cookie-table tr:last-child td:last-child {border-bottom-right-radius: 7px;}


#choose-amount-section {
	margin: 50px auto 0 auto;
	/* max-width: 400px; */
	padding: 40px;
	border-radius: 7px;
	background: rgb(240,240,240);
	box-shadow: 0px 0px 0px 0.5px rgb(50 50 93 / 10%), 0px 2px 5px 0px rgb(50 50 93 / 10%), 0px 1px 1.5px 0px rgb(0 0 0 / 7%);
}
/* .light-mode #choose-amount-section {box-shadow: 0 0 50px 25px rgba(255,255,255,0.1);}
.dark-mode #choose-amount-section {box-shadow: 0 0 50px 25px rgba(50,50,50,0.1);} */

#sub-content-box #choose-amount-section p {
	color:rgb(120,120,120);
	text-align: center;
}

#donate-btn-row {
	display:flex;
	justify-content:space-between;
}
#donate-btn-row .body-btn {
	margin: 0;
}
#donate-button {
	width:auto;
}

.tip-btn-container {
	max-width:160px;
	width: 100%;
}

.tip-btn-container label {
	margin-bottom: 5px;
	font-size:11px;
	text-align: center;
	display: inline-block;
	width: 100%;
}

.tip-btn {
	display: flex;
	box-shadow: 0px 1px 1px rgb(0 0 0 / 3%), 0px 3px 6px rgb(0 0 0 / 2%);
	background: white;
	border-radius:4px;
	padding:12px;
	border: 1px solid #e6e6e6;
	cursor:pointer;
	transition: all 0.2s;
}

.tip-p-container {
	flex:1;
	margin:0;
	position: relative;
}

.tip-btn p {
	width: 100%;
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}
.tip-btn.active {
	background: rgba(83, 130, 201, 0.1);
	border: 1px solid #5382c9;
}

#onefifty-donate img {
	width:20%;
}
#twofifty-donate img {
	width:25%;
}
#threefifty-donate img {
	width:30%;
}

#choose-custom-amount-container {
	margin-top: 20px;
}
#choose-custom-amount-txt-container {
	display: flex;
	justify-content: space-between;
}
.choose-custom-amount-txt-line {
	flex: 1;
	height: 25px;
	border-bottom: rgb(220,220,220) 1px solid;
}
/* .light-mode .choose-custom-amount-txt-line {border-bottom: white 1px solid;}
.dark-mode .choose-custom-amount-txt-line {border-bottom: rgb(50,50,50) 1px solid;} */

#choose-custom-amount-txt-left {margin-right: 20px;}
#choose-custom-amount-txt-right {margin-left: 20px;}
.choose-custom-amount-txt {
	cursor: pointer;
	margin: 0;
	height: 50px;
	line-height: 50px;
}
#sub-content-box #choose-amount-section p.choose-custom-amount-txt:hover {
	color: #5382c9;
}
#ccat-short.choose-custom-amount-txt {
	display: none;
}
#choose-custom-amount-row {
	display: none;
}
#choose-custom-amount-row p {
	padding-right: 20px;
}
#choose-custom-amount-row input {
	flex: 1;
	font-size: 15px;
	padding: 14px;
	color:rgb(100,100,100);
	cursor:auto;
}
#choose-custom-amount-row input::placeholder {
	color:rgb(100,100,100);
}

#payment-system {
	display: none;
}
#back-to-tip-row {
	display: flex;
	justify-content: space-between;
	/* margin: 50px 0 20px 0; */
	margin:0;
	padding: 0 10px 20px 10px;
}
.light-mode #back-to-tip-row {border-bottom: white 1px solid;}
.dark-mode #back-to-tip-row {border-bottom: rgb(50,50,50) 1px solid;}

#back-to-tip {
	display: inline-block;
	margin: 0;
	cursor:pointer;
}
#display-tip {
	display: inline-block;
	margin: 0;
}
#payment-form {
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgb(50 50 93 / 10%), 0px 2px 5px 0px rgb(50 50 93 / 10%), 0px 1px 1.5px 0px rgb(0 0 0 / 7%);
  border-radius: 7px;
  padding: 40px;
  background: rgb(240,240,240);
  margin: 50px 0 20px 0;
}

#payment-email {
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  max-height: 44px;
  font-size: 16px;
  width: 100%;
  background: white;
  box-sizing: border-box;
}

#error-message {
	padding-top: 10px;
	font-size: 12px;
	color: rgb(100,100,100);
	position: absolute;
}

#payment-message {
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
  display: none;
  margin-top: 40px;
  padding: 10%;
  border: rgb(200,200,200) 1px solid;
}
.light-mode #payment-message a {color: white;}
.dark-mode #payment-message a {color: rgb(50,50,50);}

#payment-message a {
	text-decoration: underline dashed;
	text-underline-offset: 5px;
}
#payment-message a:hover {
	text-decoration: underline solid;
}

#payment-element {
  margin-bottom: 24px;
}

button {
  background: #5469d4;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}
button:hover {
  filter: contrast(115%);
}
button:disabled {
  opacity: 0.5;
  cursor: default;
}


/* /////////////// MAIN-CONTENT //////////////// */

#main-content {
	display:block;
}
.show-sec #main-content {
	display:none;
}

#colour-banner {
	bottom:30%;
	height:50%;
	min-width: 280px;
	max-width: 350px;
	width: 25%;
	max-height: 500px;
	position:absolute;
	left:0;
	transform: translateX(-50%);
	margin: 0;
	display:flex;
	justify-content: space-evenly;
	flex-direction: column;
	cursor:grab;
	transition: left 0.5s ease-out, box-shadow 0.5s ease-in 0.5s;
}
#colour-banner:active {
	cursor:grabbing;
}
#colour-banner.no-js-class {
	pointer-events: none;
}

.light-mode #colour-banner {
	box-shadow: 0px 0px 80px 20px rgba(22,27,37,0.25);
	border: rgb(255,255,255,0.1) 1px solid;
}
.dark-mode #colour-banner {
	box-shadow: 0px 0px 80px 20px rgba(40, 55, 86, 0.25);
	border: rgb(50,50,50,0.3) 1px solid;
}
.hide .light-mode #colour-banner {
	box-shadow: none;
}

.text-box {
	height:40px;
	width:60%;
	left:20%;
	position: relative;
	letter-spacing:0px;
	cursor:default;
}
.hex .text-box {
	width:70%;
	left:15%;
}
.rgb .text-box {
	width:70%;
	left:15%;
}


input {
	font-family: 'JetBrains Mono';
	font-weight: 200;
	font-size: 18px;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	background: none;
	border:none;
	outline:none;
}
.light-mode input {
	color:rgb(255,255,255);
	border-bottom: rgba(255,255,255,0.6) 1px dashed;
}
.dark-mode input {
	color:rgb(50,50,50);
	border-bottom: rgba(50,50,50,0.6) 1px dashed;
}
.light-mode input::placeholder {
	color:rgb(255,255,255);
}
.dark-mode input::placeholder {
	color:rgb(50,50,50);
}
input:focus::placeholder {
	opacity:0.5;
}
.light-mode input[type=text]:focus-visible {
	border-bottom: rgb(255,255,255) 1px dashed;
}
.dark-mode input[type=text]:focus-visible {
	border-bottom: rgb(50,50,50) 1px dashed;
}
.hex .colour-input input {font-size:18px;}
.rgb .colour-input input {font-size:15px;}

.colour-input {
	display:flex;
}
.colour-output {
	display: flex;
}
.light-mode .colour-output {border: rgba(255,255,255,0.6) 1px solid;}
.dark-mode .colour-output {border: rgba(50,50,50,0.6) 1px solid;}
.light-mode .colour-output:hover {background: rgba(255,255,255,0.05);}
.dark-mode .colour-output:hover {background: rgba(50,50,50,0.05);}

.colour-picker {
	position: relative;
	left:27px;
	top:10px;
	width: 25px;
	height:25px;
}

input[type="color"] {
	cursor: pointer;
	-webkit-appearance: none;
	border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
.light-mode input[type="color"]::-webkit-color-swatch {
	border: rgba(255,255,255,0.5) 1px solid;
}
.dark-mode input[type="color"]::-webkit-color-swatch {
	border: rgba(50,50,50,0.5) 1px solid;
}

.light-mode .text-box p {
	color: rgb(255,255,255);
}
.dark-mode .text-box p {
	color: rgb(50,50,50);
}

.percentage-input {
	display:flex;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#colour-result {
	margin:0;
	line-height: 40px;
	margin-top: 1px;
	vertical-align: middle;
	text-align: center;
}
.light-mode #colour-result {color:rgb(255,255,255);}
.dark-mode #colour-result {color:rgb(50,50,50);}

.hex #colour-result {font-size:15px;}
.rgb #colour-result {font-size:13px;}
/* 
@media only screen and (max-width: 1200px) {
  .hex #colour-result {font-size:14px;}
  .rgb #colour-result {font-size:14px;}
}
@media only screen and (max-width: 992px) {
  .hex #colour-result {font-size:13px;}
  .rgb #colour-result {font-size:13px;}
} */

.copy-img-container {
	width:50px;
	margin:5px;
	position: relative;
}

.copy-clipboard-btn {
	opacity: 0.6;
	width: 50px;
	height: 50px;
	bottom: 0px;
	position: absolute;
}
.copy-clipboard-btn:hover {
	opacity: 1;
	cursor:pointer;
}

.code-copy-img {
	height: 18px;
	right: 17px;
	bottom: 17px;
	position: absolute;
}

.tooltip {
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  height:50px;
  top:-5px;
  position: absolute;
  left: 120%;
  z-index: 2;
  /* display: none; */
}
.tooltip-down .tooltiptext {
  left: 50%;
  top: calc(100% + 10px);
  margin-left: -50px;
}
.tooltip-up .tooltiptext {
  left: 50%;
  top: calc(-100% - 5px);
}
.light-mode .tooltip .tooltiptext {background-color: rgb(50,50,50);}
.dark-mode .tooltip .tooltiptext {background-color: rgb(255,255,255);}

.tooltip .tooltiptext span {
	margin:0;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	text-align: center;
	width:100%;
	letter-spacing: 0;
	font-size: 12px;
}
.light-mode .tooltip .tooltiptext span {color: rgb(255,255,255);}
.dark-mode .tooltip .tooltiptext span {color: rgb(50,50,50);}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -7px;
	border-width: 7px;
	border-style: solid;
}
.tooltip-down .tooltiptext::after {
	top: calc(100% - 53px);
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
}
.tooltip-up .tooltiptext::after {
	top: 100%;
	right: 50%;
	margin-top:0;
	margin-right: -7px;
}
.light-mode .tooltip .tooltiptext::after {  border-color: transparent rgb(50,50,50) transparent transparent;
}
.dark-mode .tooltip .tooltiptext::after {  border-color: transparent rgb(255,255,255) transparent transparent;
}
.light-mode .tooltip-down .tooltiptext::after {  border-color: transparent transparent rgb(50,50,50) transparent;
}
.dark-mode .tooltip-down .tooltiptext::after {  border-color: transparent transparent rgb(255,255,255) transparent;
}

.light-mode .tooltip-up .tooltiptext::after {  border-color: rgb(50,50,50) transparent transparent transparent;
}
.dark-mode .tooltip-up .tooltiptext::after {  border-color: rgb(255,255,255) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#track {
	position:absolute;
	margin: 0;
	top:85%;
	height:15%;
	width:60%;
	left:20%;
}

.light-mode #track {
	border-top: rgba(255,255,255,0.6) 1px solid;
}
.dark-mode #track {
	border-top: rgba(50,50,50,0.6) 1px solid;
}


#track-diamond {
	position:absolute;
	width:30px;
	height:30px;
	margin-top: -16px;
	margin-left: -15px;
	transform: rotate(45deg);
	cursor:grab;
	transition: left 0.5s ease-out;
	left:0;
}
#track-diamond:active {
	cursor: grabbing;
}
.moving {
	transition: none !important;
}

.light-mode #track-diamond {
	border: rgba(255,255,255,1) 1px solid;
}
.dark-mode #track-diamond {
	border: rgba(50,50,50,1) 1px solid;
}


.large-tick {
	position:absolute;
	height:20%;
	top:-10%;
}
.light-mode .large-tick {
	border-right: rgba(255,255,255,0.6) 1px solid;
}
.dark-mode .large-tick {
	border-right: rgba(50,50,50,0.6) 1px solid;
}
#track-start {
	left:0;
}
#track-end {
	left:100%;
}

.grab-bars {
	right:10px;
	top:10px;
	position: relative;
	height:10px;
	transform:rotate(-45deg);
	pointer-events: none;
}
.grab-bars-vert-container {
	position:absolute;
	bottom:0;
	width:100%;
	height:30px;
	pointer-events: none;
}
.grab-bars-vert {
	position: absolute;
	margin:2px;
	height: 10px;
	pointer-events: none;
	transform: rotate(0deg);
}
.light-mode .grab-bars, .light-mode .grab-bars-vert {
	border-right:rgba(255,255,255,0.8) 1px solid;
}
.dark-mode .grab-bars, .dark-mode .grab-bars-vert {
	border-right:rgba(50,50,50,0.8) 1px solid;
}

/* SPINNER */

#spinner {
	position: absolute;
	display: block;
	left: 20px;
	top: 12px;
	color: #ffffff;
	margin: 0px auto;
	width: 20px;
	height: 20px;
	box-shadow: inset 0 0 0 2px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	animation: loading 2s infinite ease;
	border-radius: 15px;
	border-top-right-radius: 0px;
}
@-webkit-keyframes loading {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes loading {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
#spinner.hidden {
	display:none;
}

/* COPYRIGHT */

#copyright-content {
	width:100%;
	margin: 0;
	position: absolute;
	bottom: 0;
}

#copyright-content p {
	left: 50%;
	text-align: center;
}
.light-mode #copyright-content p {color:rgba(255,255,255,0.8)}
.dark-mode #copyright-content p {color:rgba(50,50,50,0.8)}
.light-mode #copyright-content .footer-link {color:rgba(255,255,255,0.8)}
.dark-mode #copyright-content .footer-link {color:rgba(50,50,50,0.8)}
.light-mode #copyright-content .footer-link:hover {color:rgb(255,255,255)}
.dark-mode #copyright-content .footer-link:hover {color:rgb(50,50,50)}
#copyright-content .footer-link {text-decoration: none; text-underline-offset: 5px;}
#copyright-content .footer-link:hover {text-decoration: underline 1px dashed;}
#desktop-copyright {
	display: block;
	font-size:12px;
	margin-bottom:20px;
}
#mobile-copyright {
	display: none;
	font-size:10px;
	margin-bottom:20px;
	line-height:15px;
}

.show-sec #copyright-content {
	display: none;
}

#cookies {
	opacity:0.5;
	width: 40px;
	height: 220px;
	position: absolute;
	top: calc(70% - min(25%,250px));
	right: -40px;
	background: rgba(255,255,255,0.85);
	border-radius: 40px;
	padding:20px 0;
	transform-origin: top center;
	transform: translateY(-50%);
	transition: box-shadow 400ms;
}
#cookie-inner {
	width:100%;
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transform: rotate(180deg);
}
#cookies p {
	opacity:0.6;
	line-height: 40px;
	writing-mode: vertical-lr;
	text-orientation: sideways;
	margin:0;
	vertical-align: middle;
	font-size: 12px;
	letter-spacing: 0.4px;
}
p.cookies-choice {cursor:pointer;}
p.cookies-choice:hover {opacity:1 !important;}
p#cookies-yes {opacity:1;}
p#cookies-i {opacity:0.5;}
p#cookies-x {opacity:0.5;}
#cookies-yes:hover {color: #60c36f;}
#cookies-i:hover {color: #5382c9;}
#cookies-x:hover {color: #c95353;}

@media only screen and (max-width: 1100px) {
	.tip-btn img {
		display: none;
	}
	.tip-btn p {
		position: relative;
		top: 0;
		transform: none;
	}
	
	.cookie-table th {white-space: nowrap;}
	.cookie-table td {overflow-wrap: anywhere;}
	.cookie-table td.cookie-table-desc {text-align: left;}
}
@media only screen and (min-width: 800px) and (max-height: 650px) {
	#sidebar-inner {
		top: 100px;	
	}
	.sidebar-btn {
		margin: 5px auto;
	}
}
@media only screen and (min-width: 800px) and (max-height: 530px) {
	#sidebar-inner {
		top: 80px;	
	}
	.sidebar-btn {
		margin: 2px auto;
	}
}
@media only screen and (max-width: 800px) {
	#sec-content {
		width: 100%;
	}
	#sec-scroll-page {
		padding:0;
		height: 100%;
		width: 100%;
	}
	.show-sec #sub-content-box {
		min-height: 100%;
	}
	#sub-content-box h2 {
		margin-left: 10px;
		width: calc(100% - 50px);
	}
	
	.show-sec #sec-back-arrow {
		position: absolute;
		width: 15px;
		height: 19px;
		margin: 10% 0 0 5%;
		transform: translate(-50%,8px);
		cursor: pointer;
		pointer-events: auto;
		z-index: 2;
		opacity: 0.5;
	}
	.show-sec #sec-back-arrow:hover {opacity: 1;}
	.light-mode.show-sec .sec-back-arrow-line {border-top: rgb(255,255,255) 2px solid;}
	.dark-mode.show-sec .sec-back-arrow-line {border-top: rgb(50,50,50) 2px solid;}
	.show-sec #sec-back-line-1 {transform: translate(0px, 5px) rotate(-30deg);}
	.show-sec #sec-back-line-2 {transform: translate(0px, 10px) rotate(30deg);}
	
	#sidebar {
		width:100%;
	}
	.light-mode.show-sec .burger-line {border-top:rgb(255,255,255) 2px solid;}
	.dark-mode.show-sec .burger-line {border-top:rgb(50,50,50) 2px solid;}
	
	#sidebar-inner {
		top: 100px;
		height: 60%;
		max-height: 400px;
		justify-content: space-between;
	}
	.show-sec #sidebar-inner {
		opacity: 0;
	}
	#bottom-row {
		bottom: 10%;
	}
	.sidebar-open.show-sec #sidebar-inner {
		/* display: none; */
	}
	.sidebar-open.show-sec #bottom-row {
		/* display: none; */
	}
	.sidebar-open.show-sec #copyright-content {
		display: block;
	}
	.sidebar-open #hexrgb-switch {
		/* display: none; */
		opacity:0;
		pointer-events: none;
	}
	.sidebar-btn {
		width:60%;
		height: 55px;
		margin: 0 auto;
	}
	.light-sidebar .sidebar-btn {
		border: rgb(255,255,255,0.6) 1px solid;
	}
	.dark-sidebar .sidebar-btn {
		border: rgb(50,50,50,0.6) 1px solid;
	}
	.sidebar-btn p {
		/* height: 55px; */
		line-height: 55px;
		font-size:17px;
	}
	#copyright-content {
		z-index: 1;
	}
	.light-sidebar.sidebar-open #copyright-content p {color:rgba(255,255,255,0.8)}
	.dark-sidebar.sidebar-open #copyright-content p {color:rgba(50,50,50,0.8)}
	.light-sidebar.sidebar-open #copyright-content .footer-link {color:rgba(255,255,255,0.8)}
	.dark-sidebar.sidebar-open #copyright-content .footer-link {color:rgba(50,50,50,0.8)}
	.light-sidebar.sidebar-open #copyright-content .footer-link:hover {color:rgb(255,255,255)}
	.dark-sidebar.sidebar-open #copyright-content .footer-link:hover {color:rgb(50,50,50)}
}
@media only screen and (max-width: 700px) {
	h2 {font-size: 20px;}
	p {font-size: 14px;}
	.light-title #title, .dark-title #title {
		border: none;
	}
	#title a {
		padding:0;
		font-size: 16px;
	}
	#colour-banner {
		left: 50% !important;
		bottom: 25%;
		height: calc(70% - 100px);
	}
	#colour-banner.no-js-class {
		left: 0 !important;
	}
	.tooltip-down-on-mobile .tooltiptext {
	  left: 50%;
	  top: calc(100% + 10px);
	  margin-left: -50px;
	}
	.tooltip-down-on-mobile .tooltiptext::after {
		top: calc(100% - 53px);
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
	}
	.light-mode .tooltip-down-on-mobile .tooltiptext::after {  border-color: transparent transparent rgb(50,50,50) transparent;
	}
	.dark-mode .tooltip-down-on-mobile .tooltiptext::after {  border-color: transparent transparent rgb(255,255,255) transparent;
	}

	.show-sec #sec-back-arrow {transform: translate(-50%,4px);}
	
	#sub-content-box .desc {
		text-align: left;
	}
	
	#track {
		display:none;
	}
	#hexrgb-switch {
		right: auto;
		left: 50%;
		top: auto;
		bottom:12%;
		transform: translateX(-50%);
	}
	#sidebar-inner {
		top: 80px;
		height: 50%;
	}
	.sidebar-btn {
		height: 50px;
	}
	.sidebar-btn p {
		line-height: 50px;
	}
	
	.code-css {line-height: 20px;}
	.code-copy-img {
		right: 12px;
		bottom: 12px;
	}
	
	#copyright-content {
		width: 70%;
		left: 15%;
	}
	#desktop-copyright {
		display: none;
	}
	#mobile-copyright {
		display: block;
	}
	
	#cookies {
		top: max(75% - 250px, 40% + 50px)
	}
}
@media only screen and (max-width: 500px) {
	.tip-btn-container label {
		display: none;
	}
	.sidebar-btn {
		height: 40px;
	}
	.sidebar-btn p {
		line-height: 40px;
		font-size:15px;
	}
	.socialimg {
		width: 25px;
		height: 25px;
	}
	#bottom-row {
		height: 35px;
	}
	#bottom-row a {
		margin:5px;
	}
	.cookie-table {
		font-size: 11px;
	}
	.cookie-table th {
		font-size: 10px;
	}
	#donate-btn-row {
		flex-direction: column;
	}
	#choose-custom-amount-row p {
		display: none;
	}
	#ccat-long.choose-custom-amount-txt {
		display: none;
	}
	#ccat-short.choose-custom-amount-txt {
		display: block;
	}
	.tip-btn-container {
		max-width: 100%;
		margin: 2px 0;
	}
	#copyright-content {
		width: 90%;
		left: 5%;
	}
	#mobile-copyright {
		font-size: 8px;
	}
}

#main-img-preview {
	display: none;
}
#rotate-device {
	position:fixed;
	top: 0;
	left:0;
	height:100%;
	width:100%;
	display: none;
	background:rgb(70,70,70);
	z-index: 4;
}
#rotate-device img {
	/* min-height:100%;
	max-width:100%; */
	position: absolute;
	width: auto;
	height: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@media screen and (min-width: 320px) and (max-height: 500px) and (orientation: landscape) {
	div#rotate-device {
		display: block;
	}
}