<div id="sidebar" class="hide">
	<div id="sidebar-content">
		<ul id="sidebar-inner">
			<li id="home-btn" class="sidebar-btn"><p>home</p></li>
			<li id="about-btn" class="sidebar-btn sidebar-btn-js"><p>about</p></li>
			<li id="showcss-btn" class="sidebar-btn sidebar-btn-js"><p>colour css</p></li>
			<li id="gradient-btn" class="sidebar-btn sidebar-btn-js"><p>gradient css</p></li>
			<li id="privacy-btn" class="sidebar-btn sidebar-btn-js"><p>privacy</p></li>
			{# REMOVE STRIPE #}
			{# <li id="donate-btn" class="sidebar-btn sidebar-btn-js">
				<img src="{{url_for('static', filename='assets/coffee-cup-v3.svg')}}" id="coffee-btn-left-cup">
				<img src="{{url_for('static', filename='assets/coffee-cup-v3.svg')}}" 
				id="coffee-btn-right-cup">
				<p>coffee?</p>
			</li> #}
		</ul>
		<div id="bottom-row">
			<a href="https://www.linkedin.com/in/tobiasloader/">
				<img src="{{url_for('static', filename='assets/linkedin_light.svg')}}" class="socialimg linkedinlight"  alt="linkedin logo">
				<img src="{{url_for('static', filename='assets/linkedin_dark.svg')}}" class="socialimg linkedindark" alt="linkedin logo">
			</a>
			<a href="https://github.com/TobiasLoader">
				<img src="{{url_for('static', filename='assets/github_light.svg')}}" class="socialimg githublight" alt="github logo">
				<img src="{{url_for('static', filename='assets/github_dark.svg')}}" class="socialimg githubdark" alt="github logo">
			</a>
			<a id="share-btn" class="tooltip tooltip-up">
				<img src="{{url_for('static', filename='assets/share_light.svg')}}" class="socialimg sharelight" alt="share icon">
				<img src="{{url_for('static', filename='assets/share_dark.svg')}}" class="socialimg sharedark" alt="share icon">
				<span class="tooltiptext"><span>Save to Clipboard</span></span>
			</a>
		</div>
	</div>
	<div id="burger">
		<div id="burger-line1" class="burger-line"></div>
		<div id="burger-line2" class="burger-line"></div>
		<div id="burger-line3" class="burger-line"></div>
	</div>
	<div id="hexrgb-switch" class="switch">
		<input type="checkbox" id="colinput">
		<div class="slider">
			<div class="sliderbox"></div>
			<span class="on">hex</span>
			<span class="off">rgb</span>
		</div>
	</div>
</div>