<div id="sidebar" class="hide">
	<div id="sidebar-content">
		<div id="sidebar-inner">
			<div id="home-btn" class="sidebar-btn"><p>home</p></div>
			<div id="about-btn" class="sidebar-btn sidebar-btn-js"><p>about</p></div>
			<div id="showcss-btn" class="sidebar-btn sidebar-btn-js"><p>colour css</p></div>
			<div id="gradient-btn" class="sidebar-btn sidebar-btn-js"><p>gradient css</p></div>
			<div id="privacy-btn" class="sidebar-btn sidebar-btn-js"><p>privacy</p></div>
			<div id="donate-btn" class="sidebar-btn sidebar-btn-js"><p>coffee?</p></div>
		</div>
		<div id="bottom-row">
			<a href="https://www.linkedin.com/in/tobiasloader/">
				<img src="{{url_for('static', filename='assets/linkedin_light.svg')}}" class="socialimg linkedinlight"  alt="linkedin logo">
				<img src="{{url_for('static', filename='assets/linkedin_dark.svg')}}" class="socialimg linkedindark" alt="linkedin logo">
			</a>
			<a href="https://github.com/TobiasLoader">
				<img src="{{url_for('static', filename='assets/github_light.svg')}}" class="socialimg githublight" alt="github logo">
				<img src="{{url_for('static', filename='assets/github_dark.svg')}}" class="socialimg githubdark" alt="github logo">
			</a>
			<a id="share-btn">
				<img src="{{url_for('static', filename='assets/share_light.svg')}}" class="socialimg sharelight" alt="share icon">
				<img src="{{url_for('static', filename='assets/share_dark.svg')}}" class="socialimg sharedark" alt="share icon">
			</a>
		</div>
	</div>
	<div id="burger">
		<div id="burger-line1" class="burger-line"></div>
		<div id="burger-line2" class="burger-line"></div>
		<div id="burger-line3" class="burger-line"></div>
	</div>
	<div id="hexrgb-switch" class="switch">
		<input type="checkbox" id="colinput">
		<div class="slider">
			<div class="sliderbox"></div>
			<span class="on">hex</span>
			<span class="off">rgb</span>
		</div>
	</div>
</div>